{{ define "componentBody" }}
<div class="my-3 p-3 bg-body rounded shadow-sm dark-mode">
    <h6 class="border-bottom pb-2 mb-0 container">Add reply</h6>
    <div class="d-flex text-body-secondary pt-3">
        <div class="container">
            <form hx-post="/actions/user/composeComment/{{ .ID }}" hx-swap="innerHTML" hx-trigger="submit" hx-target="#replyActionResponse">
                <input type="hidden" name="inputPostID" value="{{ .ID }}">
                <div class="mb-3">
                    <label for="inputContent" class="form-label">Content</label>
                    <textarea class="form-control" id="inputContent" name="inputContent" autocomplete="off" required></textarea>
                </div>
                <p>
                    Please review <a href="/rules">rules</a> before posting.
                </p>
                <button type="submit" class="btn btn-primary">Reply</button>
            </form>
            <div id="replyActionResponse" class="mt-3"></div>
        </div>
    </div>
</div>
{{ end }}