{{ define "componentBody" }}

<head>
    <title>{{ .Branding.Name }} - My Profile</title>
</head>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0 container">My Profile</h6>
    <div class="d-flex text-body-secondary pt-3">
        <div class="container">
            <div class="mb-3">
                <img src={{ .CurrentUser.Avatar }} alt="User Avatar" class="img-fluid" height="100" width="100" />
            </div>
            <form hx-post="/actions/user/uploadAvatar" hx-swap="innerHTML" hx-target="#updateProfileActionResponse" hx-trigger="submit" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="inputAvatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" id="inputAvatar" name="inputAvatar" autocomplete="off" required />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
            <hr>
            <form hx-post="/actions/user/updateProfile" hx-swap="innerHTML" hx-target="#updateProfileActionResponse" hx-trigger="submit">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputUsername" name="inputUsername" autocomplete="off" value="{{ .CurrentUser.Username }}" required />
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" autocomplete="off" value="{{ .CurrentUser.Email }}" required />
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" autocomplete="off" value="donotchange" required />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div id="updateProfileActionResponse" class="mt-3"></div>
</div>
<!-- Reset the sidebar to its default state. -->
<span hx-get="/components/sidebar" hx-swap="innerHTML" hx-trigger="load" hx-target="#sidebar">

{{ end }}