{{ define "componentBody" }}

<head>
  <title>{{ .GlobalView.Branding.Name }} - {{ .FeedName }}</title>
</head>
<div class="p-2 bg-body rounded shadow-sm">
  <div>
    <h3>
      {{ .FeedName }}
      <div hx-get="/component/feedSelector/{{ .CurrentCategory }}" hx-swap="innerHTML" hx-trigger="load"></div>
    </h3>
  </div>
  {{ range .Posts }}
  <div class="post-box">
    <div id="postContainer_{{ .ID }}" hx-get="/component/user/{{ .User.ID }}/icon" hx-push-url="false" hx-target="#postContainer_{{ .ID }}" hx-swap="innerHTML" hx-trigger="load"></div>
    <h2 class="title">
      <a href="/post/{{ .ID }}" hx-get="/post/{{.ID}}" hx-swap="innerHTML" hx-trigger="click" hx-target="#mainPageContent" hx-push-url="true" hx-boost="true">{{ .Title }}</a>
      <span class="bi bi-view-stacked" hx-get="/post/{{ .ID }}/dialog" hx-swap="afterend" hx-trigger="click" hx-target="#mainPageContent"></span>
    </h2>
    <p class="last-active">{{ .GetTimeAgo }}</p>
  </div>
  {{ end }}
  <div class="pagination">
    {{ if .LastPageExists }}
    <a class="page-link active" href="#" hx-get="/component/feed/{{ .LastPageOffset }}" hx-swap="innerHTML" hx-trigger="click" hx-target="#mainPageContent" hx-push-url="false">Previous</a>
    {{ else }}
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    {{ end }}
    {{ if .NextPageExists }}
    <a class="page-link active" href="#" hx-get="/component/feed/{{ .NextPageOffset }}" hx-swap="innerHTML" hx-trigger="click" hx-target="#mainPageContent" hx-push-url="false">Next</a>
    {{ else }}
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    {{ end }}
  </div>
</div>
{{ end }}