{{ define "componentBody" }}

<head>
  <title>{{ .GlobalView.Branding.Name }} - {{ .Post.Title }}</title>
</head>
<div class="my-3 p-2 bg-body rounded shadow-sm" style="min-width: 40%;">
  <div class="post-box">
    <h2 class="title">
      {{ .Post.Title }}
    </h2>
    <div>
      <label>
        <span class="badge primary">Original Poster</span>
        {{ if .Post.User.IsAdministrator }}
        <span class="badge danger">Admin</span>
        {{ end }}
        {{ .Post.User.Username }} ({{ .Post.GetTimeAgo }})
      </label>
    </div>
    {{ .Content }}
  </div>
  {{ if .GlobalView.CurrentUser }}
  <div class="comment-box">
    <label>
      {{ if eq .GlobalView.CurrentUser.ID .Post.User.ID }}
      <span class="badge primary">
        Original Poster
      </span>
      {{ end }}
      {{ if .GlobalView.CurrentUser.IsAdministrator }}
      <span class="badge danger">
        Admin
      </span>
      {{ end }}
      {{ .GlobalView.CurrentUser.Username }}
      (now)
    </label>
    <p>
    <form hx-post="/action/post/{{ .Post.ID }}/comment" hx-swap="innerHTML" hx-trigger="submit" hx-target="#mainPageContent">
      <div class="mb-3">
        <label for="inputContent" class="form-label">Comment</label>
        <textarea class="form-control dark-mode" id="inputContent" name="inputContent" autocomplete="off" required style="resize: none;" cols="60" rows="4"></textarea>
      </div>
      <div class="mb-3">
        <button type="submit">Post</button>
      </div>
    </form>
    <div id="postCommentActionResponse" class="mt-3"></div>
    </p>
  </div>
  {{ end }}
  <div hx-get="/component/post/{{ .Post.ID }}/feed" hx-swap="innerHTML" hx-trigger="load"></div>
</div>
{{ end }}