{{ define "componentBody" }}
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Rules</h6>
    <div class="d-flex text-body-secondary pt-3">
        <div class="container">
            <ul>
                <li>
                    <h4>1. No Doxxing</h4>
                    <p>
                        The posting of personally identifiable information belonging to
                        other users is strictly prohibited and will result in a permanent
                        ban.
                    </p>
                </li>
                <li>
                    <h4>2. No Spam</h4>
                    <p>
                        The posting of spam is strictly prohibited and will result in a
                        permanent ban, this also includes API spam.
                    </p>
                </li>
                <li>
                    <h4>4. No Illegal Content</h4>
                    <p>
                        The posting of content that is deemed illegal under United States
                        law is strictly prohibited and will result in a permanent ban.
                    </p>
                </li>
                <li>
                    <h4>5. Alternate Accounts</h4>
                    <p>
                        The use of alternate accounts is strictly prohibited and will result
                        in a permanent ban.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ end }}