{{ define "componentBody" }}

<head>
  <title>{{ .GenericView.Branding.Name }} - {{ .Post.Title }}</title>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://nodiscard.net/" />
  <meta property="og:title" content="{{ .Post.Title }}" />
  <meta property="og:description" content="
  '{{ .Post.Title }}' by {{ .Post.User.Username }}
  
  {{ .Content }}
  ">

  <!-- Twitter -->
  <meta property="twitter:url" content="https://nodiscard.net" />
  <meta property="twitter:title" content="{{ .Post.Title }}" />
  <meta property="twitter:description" content="
  '{{ .Post.Title }}' by {{ .Post.User.Username }}
  
  {{ .Content }}
  ">
</head>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0 container">
    "{{ .Post.Title }}" by <b>{{ .Post.User.Username }}</b>
  </h6>
  <div class="d-flex text-body-secondary pt-3">
    <div class="container">
      <div style="
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          ">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ if .GenericView.CurrentUser}}
<!-- Update the sidebar with the compose reply form. -->
<span hx-get="/components/user/composeReply/{{ .Post.ID }}" hx-swap="innerHTML" hx-trigger="load" hx-target="#sidebar"></span>
{{ end }}
<div hx-get="/components/user/postCommentFeed/{{ .Post.ID }}" hx-swap="innerHTML" hx-trigger="load"></div>
{{ end }}