{{ define "componentBody" }}
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Terms of Service</h6>
    <div class="d-flex text-body-secondary pt-3">
        <div class="container">
            <ul>
                <li>
                    <p>
                        You agree not to use the Service to post or link to any Content
                        which is defamatory, abusive, hateful, threatening, spam or
                        spam-like, likely to offend, contains adult or objectionable
                        content, contains personal information of others, risks copyright
                        infringement, encourages unlawful activity, or otherwise violates
                        any laws.
                    </p>
                </li>
                <li>
                    <p>
                        All Content you submit or upload may be reviewed by staff members.
                        Do not submit any Content that you consider to be private or
                        confidential.
                    </p>
                </li>
                <li>
                    <p>
                        We reserve the rights to remove or modify any Content submitted for
                        any reason without explanation. Requests for Content to be removed
                        or modified will be undertaken only at our discretion. We reserve
                        the right to take action against any account with the Service at any
                        time.
                    </p>
                </li>
                <li>
                    <p>
                        You are granting us with a non-exclusive, permanent, irrevocable,
                        unlimited license to use, publish, or re-publish your Content in
                        connection with the Service. You retain copyright over the Content.
                    </p>
                </li>
                <li>
                    <p>These terms may be changed at any time without notice.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Privacy Policy</h6>
    <div class="d-flex text-body-secondary pt-3">
        <div class="container">
            <h6>What information do we collect?</h6>
            <p>
                We may collect personal information from you when you register on our
                site, perform an action, create a post, or fill out a form. When
                registering on our site, you may be asked to enter your username, email
                address, and password. You may, however, visit our site anonymously with
                restrictions.
            </p>
        </div>
    </div>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Rules</h6>
    <div class="d-flex text-body-secondary pt-3">
        <div class="container">
            <ul>
                <li>
                    <h4>1. Anti-Discrimination and Anti-Harassment Policy</h4>
                    <p>
                        You may not discriminate or partake in abusive behavior that targets
                        protected classes in the United States, this includes but is not
                        limited to:
                    </p>
                    <ul>
                        <li>Age</li>
                        <li>Disability</li>
                        <li>Race</li>
                        <li>Color</li>
                        <li>Genetic Information</li>
                        <li>Gender</li>
                        <li>Sex</li>
                        <li>Veteran status</li>
                        <li>Sexual orientation</li>
                        <li>Pregnancy</li>
                        <li>Marital status</li>
                        <li>Citizenship</li>
                        <li>Political affiliation</li>
                    </ul>
                </li>
                <li>
                    <h4>2. No Doxxing</h4>
                    <p>
                        The posting of personally identifiable information belonging to
                        other users is strictly prohibited and will result in a permanent
                        ban.
                    </p>
                </li>
                <li>
                    <h4>3. No Spam</h4>
                    <p>
                        The posting of spam is strictly prohibited and will result in a
                        permanent ban, this also includes API spam.
                    </p>
                </li>
                <li>
                    <h4>4. No Illegal Content</h4>
                    <p>
                        The posting of content that is deemed illegal under United States
                        law is strictly prohibited and will result in a permanent ban.
                    </p>
                </li>
                <li>
                    <h4>5. Alternate Accounts</h4>
                    <p>
                        The use of alternate accounts is strictly prohibited and will result
                        in a permanent ban.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ end }}