{{ define "componentBody" }}
<div class="my-3 p-3 bg-body rounded shadow-sm" style="min-width: 40%;">
    <div class="card-box">
        <label class="title">
            <p>
                Add and Edit Categories
            </p>
        </label>
        <div class="mb-3">
            <form hx-post="/actions/administration/category" hx-swap="innerHTML" hx-trigger="submit" hx-target="#addCategoryActionResponse">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Category Name</label>
                    <input type="text" class="form-control dark-mode" id="inputName" name="inputName" placeholder="Enter category name" required />
                </div>
                <div class="mb-3">
                    <label for="inputDescription" class="form-label">Category Description</label>
                    <textarea class="form-control dark-mode" id="inputDescription" name="inputDescription" rows="3" placeholder="Enter category description" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Category</button>
            </form>
            <div id="addCategoryActionResponse" class="mt-3"></div>
        </div>
        <div class="mb-3">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Categories }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .Name }}</td>
                        <td>{{ .Description }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary" hx-swap="innerHTML" hx-trigger="click" hx-target="#editCategoryComponent" hx-get="/components/administration/editCategory/{{ .ID }}">Edit</button>
                            <button type="submit" class="btn btn-danger" hx-delete="/actions/administration/category/{{ .ID }}" hx-confirm="Are you sure you want to delete '{{ .Name }}' and all of it's posts?" hx-swap="innerHTML" hx-trigger="click" hx-target="#editCategoryComponent">Delete</button>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    <div id="editCategoryComponent"></div>
</div>
{{ end }}